html, body {
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #000;
    font-size:  40;
    background: #d0d0d0;
    // cursor: url(images/mouse.png), default;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: columns;
}

#id_code {
    background: white;
    color: darkgrey;
    width: 100%;
    font-size: 120%;
    font-family: monospace;
}

#weave_button {
    background: lightgreen;
    
}

input {
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:  40;
    padding: 0.5em;
}

select {
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size:  40;
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#output {
    background: white;
    border: 1px solid black;
}


input[type="checkbox"] {
    display:inline-block;
    width:15px;
    height:15px;
    margin: 0;
}

.canvas {
    margin-left: 1em;
/*    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; */
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    background: pink;
    color: black;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
}

.dropdown-content pre {
    font-family: monospace;
}

.example {
    font-family: monospace;
    background: pink;
    color: black;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5em;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button-container {
    display: flex;
    flex-direction: row;
}
